@import url('https://fonts.googleapis.com/css?family=Karla|Orbitron');

$heading-font: 'Orbitron', sans-serif;
$primary-font: 'Karla', sans-serif;

//font families and default colors

h1, h2, h3{
    font-family: $heading-font;
    color: white;
}

p, li{
    font-family: $primary-font;
}

//sizing, links, and color styles

h1{
    font-size: 40px;
}

nav{
    font-size: 20px;
    color: $orange;
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        &:link, &:visited{
            color: $orange;
        }
        &:active, &:hover{
            color: white;
        }
    }
}

p{
    color: white;
    font-size: 15px;
    a{
        text-decoration:none;
        &:link, &:visited{
            color: $yellow-orange;
        }
        &:active, &:hover{
            color: $orange;
        }
    }
}

.zen-resources{
    font-size: 20px;
    color: $orange;
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        &:link, &:visited{
            color: $orange;
        }
        &:active, &:hover{
            color: white;
        }
    }
}