@mixin size-of-parent {
  height: 100%;
  width: 100%;
}

.intro {
  display: grid;
  grid-template-columns: 25% 25% 1fr;
  grid-template-rows: 20% 40% 40%;
}

header {
  grid-column: 2;
  grid-row: 1;
}

.summary {
  grid-column: 3;
  grid-row: 1;
}
.preamble {
  grid-column: 2;
  grid-row: 2;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 40% 40%;
}

.explanation {
  grid-column: 3;
  grid-row: 2;
}

.participation {
  grid-column: 4;
  grid-row: 2;
}

.benefits {
  grid-column: 2;
  grid-row: 3;
}

.requirements {
  grid-column: 3;
  grid-row: 3;
}

footer {
  grid-column: 1;
  grid-row: 3;
}

.wrapper {
  display: grid;
  grid-template-columns: 25% 50% 12.5% 12.5%;
  grid-template-rows: 20% 40% 40%;
}

.design-selection {
  grid-column: 1;
  grid-row: 2;
}

.design-archives {
  grid-column: 3;
  grid-row: 3;
}

.zen-resources {
  grid-column: 4;
  grid-row: 3;
}

html {
  @include size-of-parent;
}

body {
  @include size-of-parent;
}

.page-wrapper {
  @include size-of-parent;
}

.intro {
  @include size-of-parent;
  z-index: 0;
  position: fixed;
  top: 0;
}

.main {
  @include size-of-parent;
  z-index: 1;
  position: fixed;
  top: 0;
}

.sidebar {
  @include size-of-parent;
  z-index: 2;
  position: fixed;
  top: 0;
}

.wrapper {
  @include size-of-parent;
}
