$full-width: 100%;

*{
  box-sizing: border-box;
}

html{
    max-width: 600px;
    height: 100%;
}
    
body{
    width: 90%;
    margin: auto;
}
    
header{
    width: $full-width;
    text-align: center;
}

h3{
  text-align: center;
}

div{
  margin-top: 50px;
  margin-bottom: 50px;
}

.sidebar{
  width: $full-width;
}


ul{
  padding: 0;
}

li{
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  [role="article"]{
    width: 80vw;
    margin-right: 20vw;
    flex: 1 0 auto;
  }
}
